<%- include('includes/head.ejs') %>
    
<%- include('includes/nav.ejs')  %>
<% if (errorMessage) { %>
    <div class="input-error">
        <%= errorMessage %>
    </div>
    <% } %>

    <form class="book-form" action="/add-books" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <br>
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl">
            <br>
            <label for="title">Description</label><br>
            <textarea id="description" name="description" rows="4" cols="50"> </textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <button class="btn" type="submit">Add Book</button>
    </form>


<%- include('includes/end.ejs') %>
